@model List<Autorizacion_Ingreso_UPTC.Models.ViewModels.ListInformacionViewModel>
@{
    ViewBag.Title = "Autorizaciones";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Informacion/Nuevo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Vinculación</th>
                <th>Nombres</th>
                <th>Tipo Documento</th>
                <th># Identificacion</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>Sede</th>
                <th># Celular</th>
                <th>Edad</th>
                <th>Destino UPTC</th>
                <th>Tipo Ingreso</th>
                <th>Fecha Ingreso</th>
                <th>Hora Ingreso</th>
                <th>Hola Salida</th>
                <th></th>
            </tr>
            @foreach(var elemento in Model)
            {
                <tr>
                    <td>@elemento.Id</td>
                    <td>@elemento.TipoVinculacion</td>
                    <td>@elemento.Nombre</td>
                    <td>@elemento.TipoIdentificacion</td>
                    <td>@elemento.NumeroIdentificacion</td>
                    <td>@elemento.Ciudad</td>
                    <td>@elemento.DireccionResidencia</td>
                    <td>@elemento.CuidadSede</td>
                    <td>@elemento.NumeroCelular</td>
                    <td>@elemento.Edad</td>
                    <td>@elemento.InstalacionDestino</td>
                    <td>@elemento.TipoIngreso</td>
                    <td>@elemento.FechaIngreso</td>
                    <td>@elemento.HoraIngreso</td>
                    <td>@elemento.HolaSalida</td>
                    <td>
                        <a class="btn btn-default" href="~/Informacion/Editar/@elemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Informacion/Eliminar/@elemento.Id">Eliminar</a>
                        <a class="btn btn-default" href="~/Informacion/PDF/@elemento.Id">PDF</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>